/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.active-page {
  background-color: #ff5100;
  color: #fff;
}
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
}
